@model StaffPortal.Models.Salary;
@{
    ViewData["Title"] = "Index";
}
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Salary</h3>
    </div>
    <!--   <div class="col-md-7 align-self-center">
         <a href="https://wrappixel.com/templates/adminpro/" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down"> Upgrade to Pro</a>
      </div>-->
</div>

<div class="row">
    <!-- column -->
    <div class="col-sm-12">
        <div class="white-box">
            <h3>Salary</h3>
            <div class="table-responsive">
                <form asp-action="Index" method="post" class="mt-4">

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group mb-4">
                                            <label for="exampleFormControlSelect1">Grade</label>
                                            <select class="form-control" id="exampleFormControlSelect1" asp-for="GradeId" asp-items="@ViewBag.gradeName">
                                                <option>Choose Option</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group mb-4">
                                            <label for="exampleFormControlSelect1">Grade</label>
                                            <select class="form-control" id="exampleFormControlSelect1" asp-for="GradeId" asp-items="@ViewBag.gradeName">
                                                <option>Choose Option</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group mb-4">
                                            <label for="exampleFormControlSelect1">Level</label>
                                            <select class="form-control" id="exampleFormControlSelect1" asp-for="GradeId" asp-items="@ViewBag.gradeLevel">
                                                <option>Choose Option</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group mb-4">
                                            <label for="exampleFormControlSelect1">Step</label>
                                            <select class="form-control" id="exampleFormControlSelect1" asp-for="GradeId" asp-items="@ViewBag.gradeStep">
                                                <option>Choose Option</option>
                                            </select>
                                        </div>


                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="Tax">Basic Salary</label>
                        <input type="text" disabled class="form-control" value="@Model.BasicSalary" />
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>PayItem</th>
                                <th>Amount</th>
                                <th>%</th>
                                <th>PayItem Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="Tax">Tax</label>
                                </td>
                                <td>
                                    <div class="form-group">
                                        @*<label for="Tax">Tax</label>*@
                                        <input type="text" disabled class="form-control" value="@Model.Tax" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group mb-4">
                                        <select class="form-control" id="exampleFormControlSelect1" @*asp-for="PayItem*@">
                                            <option>Allowance</option>
                                            <option>Deduction</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="Housing">Housing</label>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" disabled class="form-control" value="@Model.Housing" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group mb-4">
                                        <select class="form-control" id="exampleFormControlSelect1" @*asp-for="PayItem*@">
                                            <option>Allowance</option>
                                            <option>Deduction</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label for="Lunch">Lunch</label>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" disabled class="form-control" value="@Model.Lunch" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group mb-4">
                                        <select class="form-control" id="exampleFormControlSelect1" @*asp-for="PayItem*@">
                                            <option>Allowance</option>
                                            <option>Deduction</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label for="Transport">Transport</label>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" disabled class="form-control" value="@Model.Transport" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group mb-4">
                                        <select class="form-control" id="exampleFormControlSelect1" @*asp-for="PayItem*@">
                                            <option>Allowance</option>
                                            <option>Deduction</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="Medical">Medical</label>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" disabled class="form-control" value="@Model.Medical" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group mb-4">
                                        <select class="form-control" id="exampleFormControlSelect1" @*asp-for="PayItem*@">
                                            <option>Allowance</option>
                                            <option>Deduction</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                    </table>
                    <br />
                    <div class="form-group">
                        <label for="NetSalary">Net Salary</label>
                        <input type="text" disabled class="form-control" value="@Model.NetSalary" />
                    </div>
                </form>
</div>
        </div>
    </div>
</div>