@model IEnumerable<BookWeb.Entities.Book>
@{
    ViewData["Title"] = "Book";
}
<div id="page-wrapper">
    <div class="main-page">
        <div class="tables">
            @*<div class="table-responsive bs-example widget-shadow">
                <div class="panel-body widget-shadow">*@
            <h4>BOOK:</h4>
            <a asp-controller="Book" asp-action="Create" class="btn float-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i>New Book</a>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Author ID</th>
                                <th>Genre ID</th>
                                <th>ISBN</th>
                                <th>Year Published</th>
                                <th>Rating</th>
                                <th>Summary</th>
                                <th>Created By</th>
                                <th>Date Created</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        
                        <tbody>

                            @foreach (var book in Model)
                            {
                                <tr>
                                    <td>@book.Id</td>
                                    <td>@book.Title </td>
                                    <td>@book.AuthorId  </td>
                                    <td>@book.GerneID </td>
                                    <td>@book.ISBN </td>
                                    <td>@book.YearPublish </td>
                                    <td>@book.Rating </td>
                                    <td>@book.Summary </td>
                                    <td>@book.CreatedBy  </td>
                                    <td>@book.DateCreated    </td>
                                    <td><a asp-action="Edit" asp-route-id="@book.Id" alt="Edit"><i class="fa fa-pencil m-r-10" aria-hidden="true"></i></a> </td>
                                    <td><a asp-action="Delete" asp-route-id="@book.Id"><i class="fa fa-trash-o m-r-10" aria-hidden="true"></i></a> </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>

@*</div>
    </div>*@

<!-- /.container-fluid -->
