@model IEnumerable<BookWeb.Entities.Category>
@{
    ViewData["Title"] = "Category";
}
<div id="page-wrapper">
    <div class="main-page">
        <div class="tables">
            @*<div class="table-responsive bs-example widget-shadow">
                <div class="panel-body widget-shadow">*@
                    <h4>CATEGORY:</h4>
                    <a asp-controller="Category" asp-action="Create" class="btn float-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i>New Category</a>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable"  cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Category Name</th>
                                        <th>Location</th>
                                        <th>Created By</th>
                                        <th>Date Created</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                @*<tfoot>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>UserName</th>
                                            <th>Created By</th>
                                            <th>Date Created</th>
                                        </tr>
                                    </tfoot>*@
                                <tbody>
                                    @*<tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                        </tr>*@
                                    @foreach (var category in Model)
                                    {
                                        <tr>
                                            <td>@category.Id</td>
                                            <td>@category.CategoryName </td>
                                            <td>@category.Location  </td>
                                            <td>@category.CreatedBy  </td>
                                            <td>@category.DateCreated    </td>
                                            <td><a asp-action="Edit" asp-route-id="@category.Id" alt="Edit"><i class="fa fa-pencil m-r-10" aria-hidden="true"></i></a> </td>
                                            <td><a onclick = "return confirm('Are you sure you want to delete this record');" asp-action="Delete" asp-route-id="@category.Id"><i class="fa fa-trash-o m-r-10" aria-hidden="true"></i></a> </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
        </div>

    @*</div>
</div>*@

<!-- /.container-fluid -->
