@model IEnumerable<BookWeb.Entities.Reader>
@{
    ViewData["Title"] = "Reader";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Readers</h1>
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">LIST</h6>
        </div>
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <div class="col-md-12 col-12 align-self-center">
                <a asp-controller="Reader" asp-action="Create" class="btn float-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i>New Reader</a>
            @*</div>
            <a href="/Author" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Create New Author</a>
        </div>*@
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Favourite Book</th>
                            <th>FavouriteAuthor</th>
                            <th>FavouritePublisher</th>
                            <th>FavouriteGenre</th>
                        </tr>
                    </thead>
                    @*<tfoot>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>UserName</th>
                            <th>Created By</th>
                            <th>Date Created</th>
                        </tr>
                    </tfoot>*@
                    <tbody>
                        @*<tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                        </tr>*@
                        @foreach (var reader in Model)
                        {
                        <tr>
                            <td>@reader.Id</td>
                            <td>@reader.Name </td>
                            <td>@reader.FavouriteBook  </td>
                            <td>@reader.FavouriteAuthor  </td>
                            <td>@reader.FavouritePublisher  </td>
                            <td>@reader.FavouriteGenre    </td>
                            <td><a asp-action="Edit" asp-route-id="@reader.Id" alt="Edit"><i class="fa fa-pencil m-r-10" aria-hidden="true"></i></a> </td>
                            <td><a asp-action="Delete" asp-route-id="@reader.Id"><i class="fa fa-trash-o m-r-10" aria-hidden="true"></i></a> </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
      